<!DOCTYPE html>
<html lang="en">
<html lang="en">
 <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TAP_TALENT_SEARCH_2022</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</svg>
</head>
  <body>
    



<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="bootstrap" viewBox="0 0 118 94">
    <title>Bootstrap</title>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
  </symbol>
  <symbol id="home" viewBox="0 0 16 16">
    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
  </symbol>
  <symbol id="speedometer2" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
    <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
  </symbol>
  <symbol id="table" viewBox="0 0 16 16">
    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
  </symbol>
  <symbol id="people-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
  </symbol>
  <symbol id="grid" viewBox="0 0 16 16">
    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
  </symbol>
</svg>

<main>


       <header class="p-3 mb-3 border-bottom bg-white">
          
               <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary"><i class='fas fa-house-user' style='font-size:28px'></i></a></li>
          <li><a href="#" class="nav-link px-2 link-dark"><i class='far fa-user-circle' style='font-size:28px'></i></a></li>
          <li><a href="#" class="nav-link px-2 link-dark"><i class='far fa-thumbs-up' style='font-size:28px'></i></a></li>
          <li><a href="#" class="nav-link px-2 link-dark"><i class='far fa-star' style='font-size:28px'></i></a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>

      </div>
    </div>
   
  </header>




</main>




<div class="container mt-3">
    <div class="row"> 
   <div class="col">  
  <div class="shadow-lg mt-3 p-5 text-black rounded">
      <div class="row">
      <div class="col-md-10">
    <h1> </i> Nicolo Azares</h1> 
    <h5> Software Developer at Teleperformance </h5> 
    <h5> Taguig City, Philippines </h5> 
    </div>

     <div class="col-md-2">
         <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever=""><i class='far fa-edit' style='font-size:24px'></i> </button>

         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Location:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Position:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

         </div>
         </div>
    <hr />
    
    

  <div class="row">
           <div class="col-md-4">
                   <h5 class="mt-2 mb-3"><span class="far fa-address-card"></span> Name</h5>
                             <div class="row g-2">
                                   <div class="col-auto">
             <input class="form-control" type="text" value="Nicolo Azares" aria-label="Disabled input example" disabled readonly>
                                   </div>
                             </div>
                   <h5 class="mt-2 mb-3"><span class="fas fa-briefcase"></span> Position </h5>
                           <div class="row g-2">
                                   <div class="col-auto">
             <input class="form-control" type="text" value="Software Developer" aria-label="Disabled input example" disabled readonly>
                                   </div>
                             </div>
           </div>
                      
            <div class="col-md-4">
                      <h5 class="mt-2 mb-3"><span class="far fa-address-card"></span> Location</h5>
                           <div class="row g-2">
                                   <div class="col-auto">
             <input class="form-control" type="text" value="Taguig City" aria-label="Disabled input example" disabled readonly>
                                   </div>
                             </div>
                      <h5 class="mt-2 mb-3"><span class="far fa-calendar-alt"></span> Phone Number </h5>
                            <div class="row g-2">
                                   <div class="col-auto">
             <input class="form-control" type="text" value="09367495396" aria-label="Disabled input example" disabled readonly>
                                   </div>
                             </div>
            </div>
                       <div class="col-md-4">
                            <h5 class="mt-2 mb-3"><span class="far fa-chart-bar"></span> Email </h5>
                            <div class="row g-2">
                                   <div class="col-auto">
             <input class="form-control" type="text" value="Nicoloazares10@gmail.com" aria-label="Disabled input example" disabled readonly>
                                   </div>
                             </div>
                        </div>


  </div>
  </div>
  </div>

    <div class="col-lg-4">
        <div class="shadow-lg mt-3 p-5 text-black rounded">
    <h3>Reporting to</h3> 
    <hr />

          <div class="row g-2">

              <div class="col-auto">
                          <h5> Name : </h5>
              </div>
              <div class="col-auto">
                            <p> Ergio Mar Bugtong </p>
              </div>
            </div>

            <div class="row g-2">

              <div class="col-auto">
                           <h5> Position : </h5>
              </div>
              <div class="col-auto">
                            <p> Senior Full Stack Developer </p>
              </div>
            </div>

            <div class="row g-2">

              <div class="col-auto">
                            <h5> Contact Number : </h5>
              </div>
              <div class="col-auto">
                            <p> 0922222222 </p>
              </div>
            </div>

            <div class="row g-2">

              <div class="col-auto">
                            <h5> Email : </h5>
              </div>
              <div class="col-auto">
                            <p> Ergio@gmail.com </p>
              </div>
            </div>

            <hr />

        </div>
    </div>



  </div>



   <div class="row">
    <div class="col">
   <div class="shadow-lg mt-3 p-5 text-black rounded">
       <div class="row"> 
           <div class="col-md-10">
    <h4>Educational Background</h4> 
           </div>
           <div class="col-md-2">
         <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever=""><i class='far fa-edit' style='font-size:24px'></i> </button>

         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Location:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Position:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

         </div>
       </div>
    <hr />
    <h5>Primary</h5>
    <a>Espiritu Santo Parochial School</a>
    <p>2016 - 2019</p>

    <br />

    <h5>Secondary</h5>
    <a>Espiritu Santo Parochial School</a>
    <p>2016 - 2019</p>

    <br />

    <h5>College</h5>
    <a>University of Batangas</a>
    <p>Bachelor of Science in Information of Technology</p>
    <a>2016 - 2019</a>

</div>
  </div>
  
  <div class="col-lg-4">
   <div class="shadow-lg mt-3 p-5 text-black rounded">
       <div class="row">
           <div class="col-md-10">
       <h3>Skills</h3> 
       </div>
        <div class="col-md-2">
         <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever=""><i class='fas fa-plus' style='font-size:24px'></i> </button>

         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Location:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Position:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

         </div>

    </div>
    <hr />
                            <a href="javascript:void();" class="badge bg-dark badge-pill">html5</a>
                            <a href="javascript:void();" class="badge bg-dark badge-pill">react</a>
                            <a href="javascript:void();" class="badge bg-dark badge-pill">codeply</a>
                            <a href="javascript:void();" class="badge bg-dark badge-pill">angularjs</a>
                            <a href="javascript:void();" class="badge bg-dark badge-pill">css3</a>
                            <a href="javascript:void();" class="badge bg-dark badge-pill">jquery</a>
                            <a href="javascript:void();" class="badge bg-dark badge-pill">bootstrap</a>
                            <a href="javascript:void();" class="badge bg-dark badge-pill">responsive-design</a>
                           
    <hr />


  </div>
  </div>
  </div>

   <div class="col-lg-8">
   <div class="shadow-lg mt-3 p-5 text-black rounded">
    <h4> Training and Certificate </h4> 
    <hr />

    <h5>Amazon Web Cloud</h5>
    <a>UP Diliman Campus</a>
    <p>2016 - 2019</p>

    <h5>Amazon Web Cloud</h5>
    <a>UP Diliman Campus</a>
    <p>2016 - 2019</p>

    <h5>Amazon Web Cloud</h5>
    <a>UP Diliman Campus</a>
    <p>2016 - 2019</p>
    

    
    </div>
    </div>

    <div class="col-lg-8">
   <div class="shadow-lg mt-3 p-5 text-black rounded">
    <h4> Project and Case Study </h4> 
    <hr />

    <h5>Tap talent search</h5>
    <a>Developer</a>
    <p>Ergio Mar Bugtong</p>

    <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
   </div>
   <br />
    

    <h5>Six Sigma Project</h5>
    <a>UI/UX Designer</a>
    <p>Ergio Mar Bugtong</p>

    <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">25%</div>
   </div>

   <br />
    

    <h5>Amazon Web Cloud</h5>
    <a>UP Diliman Campus</a>
    <p>2016 - 2019</p>

                            <div class="mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>

    </div>
    </div>





</div>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
   














 <!--


                                <div class="wrapper">
         Sidebar 
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Tap Talent Search</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Teleperformance Philippines</p>
                <li class="active">
                   <a href="#"><i class='fas fa-house-user' style='font-size:24px'></i> Home</a>
                </li>
                <li>
                    <a href="#"><i class='fas fa-user-circle' style='font-size:24px'></i> Profile</a>
                </li>
                <li>
                    <a href="#"><i class='fas fa-info-circle' style='font-size:24px'></i> About</a>
                </li>
            </ul>
            
            <ul class="list-unstyled components">
             
                <li>
                   <a class="list-group-item list-group-item-action" href="#list-item-1">User Profile</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Educational Back Ground</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Training and Certificates</a>
                </li>
                <li>
                   <a class="list-group-item list-group-item-action" href="#list-item-4">Project And Case Study</a>
                </li>
            </ul>



        </nav>

          End Sidebar  

        Page Content 
          
          Navbar Search and side bar button 

   <div id="content">
             <nav id="navbar_top" class="navbar navbar-expand-lg navbar-light ">
                       <div class="container-fluid">   
                                     <button type="button" id="sidebarCollapse" class="btn btn-info">
                                        <i class="fa fa-bars" style="font-size:24px"></i>
                                        <span></span>
                                     </button>
                                     <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="fas fa-align-justify"></i>
                                     </button>
    Start Form for Search                  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                                             <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
   End Form for Search                    </form>
               <div class="container">
                         <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                             <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                             </ul>

                                <div class="dropdown text-end">
                                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                                  </a>
                                  <ul class="dropdown-menu text-small">
                                    <li><a class="dropdown-item">Nicolo Azares</a></li>
                                    <li><a class="dropdown-item">Software Developer</a></li>
                                    <li><a class="dropdown-item">Taguig City,Philippines</a></li>
                                    <li><a class="dropdown-item" href="#">View Profile</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                                  </ul>
                                </div>

                                      </div>
                                               </div>
                                                       </div>
                                                                </nav>

  End Navbar Search and side bar button  -->